.article-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  
  
  row-gap: 15%;
  margin-top: 2%;
}

.thumbnail {
  max-width: 100%;
}

.thumbnail-row {
  margin-bottom: 2%;
}

.profile-picture {
  border-radius: 100%;
  max-width: 10%;
}

.article-info-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.article-author {
  display: inline-block;
  margin-left: 3%;
  margin-top: 2.3%;
  vertical-align: top;
  font-size: small;
}

.article-preview {
  margin-left: 5%;
  margin-right: 5%;
  background: #fff; 
  border: 0.125em solid rgb(37, 37, 37); 
  color: rgb(0, 0, 0); 
  border-radius: 0.25em; 
  padding: 0.625em 1.25em; 
  cursor: pointer;
  transition: opacity 0.3s
}

.article-preview:hover {
  opacity: 0.85;
}

.article-preview:active {
  opacity: 0.6;
}

.article-title {
  font-weight: bold;
  margin-top: 0;
}