@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

p {
  font-family: DM+Sans, Arial;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-part {
  margin-left: 3%;
  margin-right: 3%;
  background-color: rgb(253, 253, 253); 
  border: none; 
  border-radius: 0.25em; 
  padding: 0.625em 1.25em; 
  font-size: 1em; 
}

h4 {
  text-align: center;
}

