.menue-background {
  background-color: rgb(37, 37, 37);
}

.menue {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30%;
  margin-right: 30%;
}

.menue-point {
  font-size: small;
}

.menue-button {
  color: white;   
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
  border: 1px solid transparent;
  padding-top: 5%;
  padding-bottom: 5%;
  transition: all 0.3s;
}

.menue-link {
  text-decoration: none;
}

.menue-button:hover {
  color: rgb(255, 0, 0);
  border-top: 1px solid;     
  border-bottom: 1px solid;   
  cursor: pointer;
}      

.main-part {
  margin-left: 3%;
  margin-right: 3%;
  background-color: rgb(253, 253, 253); 
  border: none; 
  border-radius: 0.25em; 
  padding: 0.625em 1.25em; 
  font-size: 1em; 
}