.menue-background {
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.menue {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

.menue-point {
  font-size: small;
}

.menue-button {
  color: white;   
  cursor: pointer;
  border: 1px solid transparent;
  padding-top: 5%;
  padding-bottom: 5%;
  transition: all 0.3s;
}

.menue-link {
  text-decoration: none;
}

.menue-button:hover {
  color: rgb(255, 0, 0);
  border-top: 1px solid;     
  border-bottom: 1px solid;   
  cursor: pointer;
}      

