@media (min-width: 300px) {
  .title{
    font-size: auto;
  }

  .second-line {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .next-event {
    color: rgb(255, 0, 0);
    font-size: 1em;
  }

  .icon-social {
    display: none;
  }
  
  .menue-background {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: fit-content;
    width: 100%
  }

  .menue-point {
    display: none;
  }

  .right-menue {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }

  .hamburger-icon {
    width: 55%;
  }

  .hamburger-button {
    background-color: rgb(37, 37, 37);
    border: none;
  }

  .hamburger-button:hover {
    cursor: pointer;
  }

  .hamburger-button:active {
    opacity: 0.5;
  }

  .article-grid {
    display: grid;
    grid-template-columns: 1fr;
    
    row-gap: 10%;
    margin-top: 2%;
  }

  .helmholtzschule-logo {
    display: none;
  }

  .first-line {
    display: unset;
    
  }
}
